A {
  color : #030354;
  background : #FFF4D4;
  text-decoration : none;
}

A:Visited  {
  color : black;
}

A:Hover  {
  text-decoration : underline;
  background : #FFD147;
}

html, body  {
  height: 100%;  margin-top: 10px; padding: 0; /* force scrollbar */
  font-family : 'PT Sans', sans-serif;
  font-size : 30px;
  line-height : 120%;
  text-align : left;
  color : Black;
  background-color : White;
}

em  {
  font-weight : bold;
}

H1  {
  font-size : 60px;
  line-height : 120%;
  color : #FFF4D4 ;
  background : #030354;
  padding : 10px;
  margin : 0px;
}

H2  {
  font-size : 50px;
  line-height : 120%;
  color : #FFF4D4;
  background : #030354;
}

H3  {
  font-size : 40px;
  line-height : 120%;
  color : #FFF4D4;
  background : #030354;
  padding : 14px 0px 0px 0px;
  margin : 0px;
}

p+h1  { margin-top : 40px; }
ul+h1 { margin-top : 40px; }

p {
  margin : 0px 0px 20px 0px;
}
h1+p { margin-top : 20px }
ul+p { margin-top : 20px }

strong  {
  font-weight : bold;
  color : #FFF4D4;
  background : #030354 ;
  padding-left : 5px;
  padding-right : 5px;
}

ul {
  padding : 6px 0px 0px 30px;
  margin : 0px;
}

.mono {
  font-family : 'PT Mono', monospace;
}

.nobullet  {
  list-style-type : none;
  list-style-image : none;
}

.small  {
  font-size : 16px;
  line-height : 120%;
  color : gray;
  font-family : 'PT Mono', monospace;
}

.title  {
  font-family : 'Patua One', cursive;
  font-size : 80px;
  line-height : 120%;
  color : #FFF4D4;
  background : #030354;
  text-align : center;
  padding-bottom : 50px;
  padding-top : 50px;
  margin-bottom: 50px;
}

#all {
  width : 1300px;
  margin-left : auto;
  margin-right : auto;
}

#content {
  float: left;
  z-index: 2;
  width : 900px;
}

#menu {
  padding : 0px 0px 10px 0px;
  margin : 0px;
}

#navigation {
  width : 150px;
  margin-right : 50px;
  padding: 10px 10px 10px 10px;
  float : left;
  z-index: 1;
  background : #FFF4D4;
  font-weight : bold;
}


.result {
  background : #ffa;
  padding : 20px;
}
.digression {
  background : #aaa;
  padding : 20px;
  margin : 20px;
}
.digression-head {
  background : #bbb;
  padding : 5px;
  width : 100%;
}
.digression-body {
  display : none;
  -webkit-animation-duration: 3s;
}
@-webkit-keyframes appear {
  from { opacity:0; }
  to { opacity:1; }
}

/* Palette color codes, generated by http://paletton.com */
/* Palette URL: http://paletton.com/#uid=23+0u0kCN++5p+5n3+t+8B6SUf8 */

/*
Thresholds
  4.5 small text
  3.0 large elements
  2.0 acceptable

White with
  21.0  black
  18.3  P4
  11.8  P3
   7.9  P0
   6.4  C4
   4.5  P2

Black with
  21.0  white
  19.1  C1
  15.3  P1
  14.5  C2
  12.7  C0
   4.7  P2
   3.3  C4
   2.7  P0

Yellow on Blue
  16.7  C1/P4
  12.6  C2/P4
  11.1  C0/P4
  10.8  C1/P3
   8.1  C2/P3
   7.2  C1/P0
   7.2  C0/P3
   5.4  C2/P0
   4.8  C0/P0
   4.7  C4/P1
   4.1  C1/P2
   3.1  C2/P2
   2.9  C4/P4
   2.7  C0/P2

Blue on Yellow
  16.7  P4/C1
  12.6  P4/C2
  11.1  P4/C0
  10.8  P3/C1
   8.1  P3/C2
   7.2  P3/C0
   7.2  P0/C1
   5.4  P0/C2
   4.8  P0/C0
   4.7  P1/C4
   4.1  P2/C1
   3.1  P2/C2
   2.9  P4/C4
   2.7  P2/C0

Blue on Blue
  13.4  P4/P1
  13.4  P1/P4
   8.6  P3/P1
   8.6  P1/P3
   5.7  P1/P0
   5.7  P0/P1
   4.1  P4/P2
   4.1  P2/P4
   3.3  P2/P1
   3.3  P1/P2
   2.6  P3/P2
   2.6  P2/P3
   2.3  P4/P0
   2.3  P0/P4

Yellow on Yellow
   5.8  C4/C1
   5.8  C1/C4
   4.4  C4/C2
   4.4  C2/C4
   3.9  C4/C0
   3.9  C0/C4

Combinations for small text:
  - black on anything except primary 4 (P4)
  - P4 on white
  - white on P4

Combinations for large text (in addition of the above):
  - P4 on P2
  - P3 on white
  - P4 on any complement
  - white on P3
  - any complement on P4
*/

/* As hex codes */

.color-primary-0 { color: #1D1DFF }	/* Main Primary color */
.color-primary-1 { color: #D9D9FD }
.color-primary-2 { color: #6262FE }
.color-primary-3 { color: #0101C1 }
.color-primary-4 { color: #030354 }

.color-complement-0 { color: #FFBF00 }	/* Main Complement color */
.color-complement-1 { color: #FFF4D4 }
.color-complement-2 { color: #FFD147 }
/* SAME AS C0: .color-complement-3 { color: #FFBF00 } */
.color-complement-4 { color: #795A00 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 29, 29,255,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(217,217,253,1) }
.rgba-primary-2 { color: rgba( 98, 98,254,1) }
.rgba-primary-3 { color: rgba(  1,  1,193,1) }
.rgba-primary-4 { color: rgba(  3,  3, 84,1) }

.rgba-complement-0 { color: rgba(255,191,  0,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,244,212,1) }
.rgba-complement-2 { color: rgba(255,209, 71,1) }
.rgba-complement-3 { color: rgba(255,191,  0,1) }
.rgba-complement-4 { color: rgba(121, 90,  0,1) }
